body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Sacramento', cursive;    
    margin-top: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}


.top-container {
    background: #EAE2B7;
    padding-top: 100px;
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.middle-container {
    background-color: #EAE2B7
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.bottom-container {
    background-color:#EAE2B7
}